@model Dictionary<int, string>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">File locations</h1>
    <ul>
        @foreach (KeyValuePair<int, string> locationInfo in Model)
        {
            <li>@Html.ActionLink(locationInfo.Value, "Index", "Files", new { LocationIndex = locationInfo.Key })</li>
        }
    </ul>
</div>
